body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #eee2dc;
    padding: 0;
}

/* HEADER STYLES */

#header-nav {
    background-color: #ac3b61;
    border-radius: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand h1 {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list a {
    color: #eee2dc;
}

#nav-list a:hover,
#nav-list a:focus {
    background-color: #eee2dc;
    color: #ac3b61;
}

/* END OF HEADER STYLES*/

/* MAIN CONTENT STYLES */
.main-title{
	color: #123c69;
	font-size: 1.8em;
	font-weight: bold;
	margin-top:0;
}

.item-section{
	margin:0 20px 20px;
	background-color: #bab2b5;
	width: auto;
}

.item-section h2{
	font-size: 1.3em;
	font-weight: bold;
}

.item-section > article{
	padding: 0 10px 10px;
}
/*END OF MAIN CONTENT STYLES */

@media (max-width: 767px){
	.item-section{
		margin:0 70px 20px;
	}
}